/* Responsive */
@media (max-height: 683px){
    .footer{
        box-shadow: none;
    }
    .footer ul{
        display: none;
    }
    .container {
        overflow-y: auto;
    }
    .search{
        box-shadow: none;
        border: 2px solid var(--color-border)
    }
    .search:hover{
        box-shadow:none;
    }
    .one-main{
        padding: 1rem;
    }
    .two-main{
        padding-left: 50rem;
    }
}
@media (max-width: 700px) or (max-height: 683px){
    #menu-btn{
        display: none;
    }
    .sidebar{
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }
    .sidebar-btn{
        display:flex;
        margin-left: auto;
        right: 1rem;
        padding: 1.2rem;
    }
    .sidebar-btn i:last-child{
        display: none;
    }
    body.sidebar-hidden .sidebar{
        transform: translateX(0);
    }
    body.sidebar-hidden .sidebar-btn i:last-child{
        display: flex;
    }
    body.sidebar-hidden .sidebar-btn i:first-child{
        display: none;
    }
    .one-main{
        padding: 1rem;
    }
    .two-main{
        padding-left: 2rem;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 700px) {
    .section{
        width: 50rem;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .container-card{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        
    }    
    main h1{
        font-size: 2rem;
    }
    .box{
        width: 60%;
        border-radius: 1rem;
        padding: 3rem 4rem;
    }
    .section{
        width: 100%;
        border-radius: 5rem;
        padding: 2rem 3rem;
    }
    .section-two{
        display: flex;
        flex-direction: row;
    }
    .only-text{
        width: 40%;
    }
    .find li{
        padding: 0.4rem 0;
    }
    .img-how-run{
        width: 60%;
        object-fit: contain;
    }

}
